<!-- Footer -->

<footer class=" footer text-center text-lg-start">

    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

      <!-- Left -->
      <div class="headlineFooter me-5 d-none d-lg-block">
        <span>DoZero: O hub do empreendedorismo digital</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="https://github.com/DozeroHub" class="me-4 text-reset" target="_blank">
            <img src="../../assets/git.svg" height="50" width="300">
        </a>

      </div>
      <!-- Right -->
    </section>


    <!-- Copyright -->
    <div class="copyright text-left p-4">
        copyright © Generation Brasil

    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
